h1{
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
}

.link {
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
}

.link:hover {
    color: #ccc;
}

p {
    margin: 100px;
    color: aliceblue;
    font-size: 18px;
    font-family: sans-serif;
}

img {
    max-width: 300px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.index {
    background-color: rgb(236, 65, 133);
}
.contact{
    background-color: rgb(238, 80, 53);
}
.photo{
    background-color: rgb(153, 80, 244);
}